.generation__slider
    display: flex
    flex-direction: row
    position: relative
    width: 76.2rem
    overflow-x: hidden
    
.slide
    &__img
        margin-top: 4rem
        position: absolute
        padding-right: 4rem
        transition: transform 1s

